/*
公共样式
*/
.color_F96868{color:#F96868;}
.color_5AA2E7{color:#5aa2e7;}
#app .weizhaopin_btn{background-color: #5aa2e7;}
#app .weizhaopin_btn:not(.weui-btn_disabled):active{background-color: #5aa2e7;}
#app .text_align_left{text-align: left;}
#app .weizhaopin_btn_D64949{background-color: #D64949;}
#app .weizhaopin_btn_D64949:not(.weui-btn_disabled):active{background-color: #D64949;}
.close_x{background: url(../../common/image/micresume/x.png) no-repeat center center;background-size: 100% auto;width: .3rem;height: .3rem;position: absolute;right: -.05rem;top:-.05rem;}
#app a:focus{outline:none;outline-offset: 0;text-decoration: none;color: #000;}
#app a:hover{outline:none;outline-offset: 0;text-decoration: none;color: #000;}