/*
公共样式
*/
.color_F96868{color:#F96868;}
.color_5AA2E7{color:#5aa2e7;}
#app .weizhaopin_btn{background-color: #5aa2e7;}
#app .weizhaopin_btn:not(.weui-btn_disabled):active{background-color: #5aa2e7;}
#app .text_align_left{text-align: left;}
#app .weizhaopin_btn_D64949{background-color: #D64949;}
#app .weizhaopin_btn_D64949:not(.weui-btn_disabled):active{background-color: #D64949;}
.close_x{background: url(../../common/image/micresume/x.png) no-repeat center center;background-size: 100% auto;width: .3rem;height: .3rem;position: absolute;right: -.05rem;top:-.05rem;}
#app a:focus{outline:none;outline-offset: 0;text-decoration: none;color: #000;}
#app a:hover{outline:none;outline-offset: 0;text-decoration: none;color: #000;}

/*顶部通栏*/
.personal_header {background-color: #2C2D31;color: #9B9B9C;padding: 0 15px;line-height: 40px;position: relative;}
.personal_header img{width:24px;height: 24px;background-color: #5aa2e7;display: inline-block;line-height: 40px;vertical-align: middle;border-radius: 50%;}
.personal_header h2{font-size: 0.26rem;display: inline-block;vertical-align: middle;}
.personal_header .header_right{float: right;height: .32rem;position: absolute;top:0.26rem;right:15px;line-height: .32rem;}
.personal_header .header_right p{display: inline-block;font-size: 0.26rem;vertical-align: middle;}
.personal_header .header_right p.vux-1px-r{padding-right:10px;}
.personal_header .header_right h6{position: absolute;color: #fff;font-weight: 400;right: -15px;z-index: 999;bottom: -38px;border-radius: 5px;background: url(../../common/image/tuijian_03.png) no-repeat 116px 0px;padding-top:10px; }
.personal_header .header_right h6>span{background-color: #5aa2e7;display: block;padding: 7px 5px 5px 15px;width: 210px;line-height: 0.26rem;font-size: 13px;}